
<section id="add-task" ng-controller="tasksController">
    <h1>Add a New Task</h1>
    <p class="lead">Add to your task list below.</p>
    <hr>
    
    <form accept-charset="UTF-8" id="task-form" >
        <input type="hidden" ng-model="task.id" />
        <div class="form-group">
            <label class="control-label" for="title">Title: </label>
            <input id="new-task-title"  class="form-control" placeholder="Title" ng-model="task.title" />
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Description: </label>
            <textarea id="new-task-description" class="form-control" rows="10" cols="50" placeholder="description" ng-model="task.description" >
            </textarea>
        </div>
        <input type="submit" class="btn btn-primary" ng-click="submit()" value="Create New Task" />   
    </form>
    <br><br><br>
</section>
