
<section id="task-list">
    <h1>Edit Task - {{task.title}}</h1>
    <p class="lead">Edit this task below. <a href="#/tasks">Go back to all tasks.</a></p>
    <hr>
    <form accept-charset="UTF-8" ng-submit="submit()" id="task-form" >
        <div class="form-group">
            <label class="control-label" for="title">Title: </label>
            <input id="new-task-title"  value="{{task.title}}" class="form-control" placeholder="Title" ng-model="task.title" />
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Description: </label>
            <textarea id="new-task-description" class="form-control" rows="10" cols="50" placeholder="description" ng-model="task.description" >
                {{task.description }}
            </textarea>
        </div>
        <!--value="{{!ctrl.user.id ? 'Add' : 'Update'}}" -->
        <input type="submit" class="btn btn-primary"  ng-click="submit()" value="Edit" />   
    </form >
    <br><br><br>
</section>
