<section id="show-task" >
    <div class="row">
        <h3>{{task.title}}</h3>
        <p>{{task.description}}</p>

        <div class="row">
            <div class="col-md-6  col-left">
                <a href="#tasks/update/{{task.id}}" class="btn btn-primary">Edit Task</a>
            </div>
            <div class="col-md-6 text-right">
                <a href="#" ng-click="deleteTask(task)" class="btn btn-danger"> Delete This task</a>
            </div>
        </div>
        <hr>

    </div>


</section>