<section id="task-list" >
            <h1>Task List</h1>
            <p class="lead">Here's a list of all your tasks. <a href="#/tasks/add">Add a new one?</a></p>
            <hr>
            
            <div  ng-repeat="task in tasks" class="row">
                <h3>{{ task.title }}</h3>
                <p>{{ task.description}}</p>
                <div class="row">
                    <div class="col-md-6 col-left">
                        <a href="#tasks/show/{{task.id}}" ng-click="getTask(task.id)" class="btn btn-info">View Task</a>
                        <a href="#tasks/update/{{task.id}}" class="btn btn-primary">Edit Task</a>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#" ng-click="deleteTask(task)" class="btn btn-danger">Delete this task?</a>
                    </div>
                </div>
                <hr>
            </div>
   
<!--
            <article ng-show="tasks.length" ng-cloak>
                <div  ng-repeat="task in tasks" class="row">
                   <h3>{{task.title}}</h3>
                   <p>{{task.description}}</p>
                   <div class="col-md-6">
                    <a href="#tasks/show/:id" class="btn btn-info">View Task</a>
                    <a href="" class="btn btn-primary">Edit Task</a>
                </div>
                <div class="col-md-6 text-right">
                  <a href="" class="btn btn-primary">Dd</a>
                </div>
                </div>
            </article>
            -->
            
            
    </section>
