<!-- <!DOCTYPE html>
<html lang="fr" ng-app="demoApp">
    <head>
        <title>Task</title>        
        <link rel="stylesheet" href="css/style.css">
        <script src="js/angular.js"></script>
        <script src="js/todoList.js"></script>
    </head>
    <body>
        <header>
            <h1>Task</h1>
        </header>
        <section id="todo-list" ng-controller="todoCtrl">
            <form id="todo-form" ng-submit="addTodo()">
                <input id="new-todo" placeholder="Que devez-vous faire ?" ng-model="newTodo" />
            </form>
            <article ng-show="todos.length" ng-cloak>
                <ul id="todo-list">
                    <li ng-repeat="todo in todos" ng-class="{completed: todo.completed}">
                        <div class="view">
                            <input class="mark" type="checkbox" ng-model="todo.completed" />
                            <span>{{todo.title}}</span>
                            <i class="fa fa-times" ng-click="removeTodo(todo)"></i>
                        </div>
                    </li>
                </ul>
                <input id="mark-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)" />
                <label class="btn btn-info" for="mark-all">Tout cocher</label>
                <button class="btn btn-danger" ng-click="clearCompletedTodos()">Supprimer les tâches cochées</button>
            </article>
        </section>
    </body>
    </html> -->

    <!doctype html>
    <html lang="en" ng-app="demoApp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tasks</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="js/vendor/angular.js"></script>
<script src="<c:url value='/static/js/app.js' />"></script>
      <script src="<c:url value='/static/js/service/user_service.js' />"></script>
      <script src="<c:url value='/static/js/controller/user_controller.js' />"></script>        <script src="js/vendor/angular-route.js"></script>
       
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">Tasks</a>
            </div>
            <div class="nav navbar-nav navbar-right">
                <li><a href="">Home</a></li>
                <li><a href="">Tasks</a></li>
            </div>
        </div>
    </nav>

    <main>
        <div class="container">
        <section id="task-list" ng-controller="taskCtrl">
        <h1> Tasks</h1>
        <form id="task-form" >
                <input id="new-task-title" placeholder="Title" ng-model="newTask_title" />
                <input id="new-task-description" placeholder="Description" ng-model="newTask_description" />
                <input type="submit" class="btn btn-primary" ng-click="addTask()" value="Add Task" />
            </form>

        <article ng-show="tasks.length" ng-cloak>
        

        <div  ng-repeat="task in tasks" class="row">
         <h3>{{task.title}}</h3>
        <p>{{task.description}}</p>
            <div class="col-md-6">
                <a href="" class="btn btn-info">View Task</a>
                <a href="" class="btn btn-primary">Edit Task</a>
            </div>
            <div class="col-md-6 text-right">
               
            </div>
        </div>
        </article>
        </section>
        </div>
    </main>

</body>
</html>